@*@{
    ViewData["Title"] = "Home Page";
}
*@
<div class="guv-grid-container">
    <h1 class="guv-title">Introduction</h1>
    <h4 class="guv-information">
        NO-GUV.UK are currently asking members of the public whether they are satisfied with the level of street lighting in their neighbourhood
        Please complete the following questions
    </h4>
</div>
<div class="guv-question-page-continue">
    <a class="btn guv-green-button" href="@Url.Action("Create", "Survey")">Continue</a>
</div>